.editResultWrapper {
    background-color: #ffffff38;
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100vh;
    display: block;
    min-height: 80vh;
    /* opacity: 1; */
  }
  
  .profileIcon {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    opacity: 0.7;
    color: #3c2a21;
  }
  
  .editResultContainer {
    background-color: white;
    width: 77%;
    margin: auto;
    margin-top: 19px;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    animation: pop-up-card 0.5s ease-in-out;
  }
  .editResultHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .editResultHeader .header {
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .editResultHeader .closeBtn {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 0;
    font-size: x-large;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .editResultForm {
    scroll-behavior: smooth;
    margin-top: 0;
    margin-bottom: 15px;
  }  
  .btn {
    all: unset;
    cursor: pointer;
    margin: 0 auto;
    background-color: #3c2a21;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #f6f1e9;
    font-size: 16px;
  }
  
  .btn:hover {
    transition: all 0.2s;
    background-color: #f6f1e9;
    color: #3c2a21;
    box-shadow: 2px 4px #3c2a21;
  }
  
  .editProfileContainer .editBtn {
    position: relative;
    height: fit-content;
    white-space: nowrap;
    bottom: 70px;
    left: 37px;
  }
  