#file-dropper {
    margin: 0% auto;
    align-items: center;
    background-color: var(--component-shade);
    border: 2px dotted var(--component-highlight);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    min-height: 360px;
    min-width: 300px;
    padding: 30px 10px 40px;
    row-gap: 20px;
    width: 80%;
}
#file-dropper #splash-drop-icon {
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 10px;
    opacity: .75;
    transition: all .15s linear;
}
#file-dropper .button {
    max-width: 280px;
    width: 90%;
}
.button {
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 15px transparent;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 700;
    height: 30px;
    justify-content: center;
    min-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-decoration: none;
    transition: all .15s linear;
    user-select: none;
    white-space: nowrap;
}
.button.positive:hover {
    box-shadow: 0 0 15px var(--accent-shadow-color);
}
.button, .buttons {
    align-items: center;
    gap: 10px;
}
.button:active {
    transform: translateY(3px);
}
.button.positive {
    background: linear-gradient(200deg,var(--accent-light-color),var(--accent-color));
    background-position: 50% 50%;
    background-size: 100%;
}
.button.rounded {
    border-radius: 90px;
}
.button.large {
    font-size: 14px;
    height: 46px;
    min-height: 40px;
    text-transform: none;
}
.box img{
    width: 100%;
    max-height: 200px;
}
.button.negative {
    background-color: #000;
    border: 2px solid var(--component-highlight);
    color: var(--text-dim);
}
.button.negative:hover{
    background: #fff;
    border: 2px solid hsla(0,0%,100%,.05);
    box-shadow: 0 0 10px var(--component-highlight);
    color: var(--text-opaque);
}
.buttons {
    display: flex;
    justify-content: flex-end;
}
.top-20 {
    margin-top: 20px!important;
}
.button.med {
    height: 40px;
    min-height: 40px;
}